/* accordion */
.ui-accordion-header .mini_btn {
	float:right;
	margin-left:4px;
	padding:2px;
	display:none;
	margin-top:-6px;	
}

.ui-state-active .mini_btn {
    display: inherit;
}

.ui-accordion-header {
	font-weight:400;
	cursor:pointer;
	transition:all .3s;
	padding:10px;
	margin:0px;
}

.ui-accordion-content {
	margin: 0px;
	border:2px solid #373737;
}

.ui-state-hover {
	background-color:#DFDFDF;	
}

.ui-state-focus, .ui-state-active {
	background-color:#373737;
	color:#FFF;
}
/* END accordion */

/* icons */
.icon {
	width:20px;
	height:20px;
	fill: #FFF;	
	transition:all 0.3s;
	border-radius:4px;
	padding:3px;
}

.icon_color_inform {
	fill: #EBB81D;
	margin:0 auto;
	width:40px;
	height:40px;
}

.icon_danger:hover {
	background-color:#A7381D;
}

.icon_confirm:hover {
	background-color:#9DE377;
}

.icon_inform:hover {
	background-color:#3379B3;
}

/* END icons */